docs/*
Dockerfile*
certs
test/*
experimental/*
.gitlab-ci.yml
.pre-commit-config.yaml
.pre-commit-hooks.yaml
pre_commit_hooks
.vscode
.gitignore
.gitlint
.dvcignore
.git
.env
env
.eslintrc.js
.Trash-1000
.DS_Store
.ipynb_checkpoints
*.ipynb
pdf_to_json.py
data
*.html
*.proto
#*.c
*.cpp
#*.so
*.md
demo_logs.log
temp
temp/*
test_/*
data
data/*
testimages
testimages/*
cython_utils/build
.Trash-*
*.swp
#static/*.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
